.swipe-wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
    max-width: 510px;
    overflow-x: hidden;
    background: var(--dark-blue);
      
    .motion-page {
        height: 100%;
    }
    .bullet-container {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
        z-index: 1000;
    }
    .bullet {
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background-color: var(--white);
        transition: background-color 0.3s ease;
    }
    .bullet.active {
        background-color: var(--turquoise);
    }
}
