.ticket-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 2rem;
  color: var(--white);
  border: 1px solid var(--pink);

  .ticket-cost {
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid var(--pink);
    padding: 1rem;
    text-align: center;
  }
  .ticket-counter {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid var(--pink);
    padding: 1rem;
  }
  .ticket-counter__quantity {
    font-size: 24px;
    font-weight: 200;
  }
  .ticket-counter__button {
    width: 3rem;
    background: none;
    border: none;
    color: var(--white);
    font-size: 2rem;
  }
}
