.details-page {
  background-color: var(--dark-blue);
  font-family: "Fira Sans", sans-serif;
  height: auto;
  min-height: 100vh;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 6rem;

  .back__button {
    color: var(--pink);
    display: flex;
    font-size: 1.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-decoration: none;
  }
  .details-page__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    .details-page__title {
      color: var(--pink);
      font-size: 32px;
      font-weight: 400;
    }
    .details-page__text {
      color: var(--white);
      font-size: 19px;
      font-weight: 200;
      font-style: italic;
      text-align: center;
      margin-bottom: 3.5rem;
    }
  }
  .details-page__link {
    text-decoration: none;
  }
  .addToCart__button {
    font-family: "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: var(--turquoise);
    color: var(--white);
    height: 3rem;
    padding: 1rem;
    border-radius: 0.2rem;
    width: 100%; 
    font-size: 22px;
  }
}
