.events-page {
  background-color: var(--dark-blue);
  font-family: "Fira Sans", sans-serif;
  min-height: 100vh;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;

  .events-page__header {
    color: var(--pink);
    margin-top: 2rem;
  }
  .events-page__title {
    color: var(--pink);
    font-size: 32px;
    font-weight: 400;
  }
  .events-page__link {
    text-decoration: none;
  }
  .events-page__button {
    font-family: "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 1rem;
    background-color: var(--turquoise);
    color: var(--white);
    height: 3rem;
    padding: 1rem;
    border-radius: 0.2rem;
    width: 100%; 
    font-size: 22px;
  }
}
