.events-page {
  background-color: var(--dark-blue);
  font-family: "Fira Sans", sans-serif;
  min-height: 100vh;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;

  .events-page__header {
    color: var(--pink);
    margin-top: 2.5rem;
  }
  .events-page__title {
    color: var(--pink);
    font-size: 32px;
    font-weight: 400;
  }
}
