.navbar {
  font-family: "Sansita One", sans-serif;
  display: flex;
  justify-content: center;
  max-width: 510px;
  gap: 20px;
  font-size: 1rem;
  font-weight: 200;
  background-color: var(--pink);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
}
.navbar a {
  text-decoration: none;
  color: var(--white);
  padding: 0.5rem 1rem;
}
