* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #FFFFFF;
  --light-grey: #D0D0D0;
  --grey: #857979;
  --dark-blue: #231F42;
  --pink: #F56B9A;
  --turquoise: #37AEAB;
  --purple: #BB6AC9;
  --organge: #F39440;
  --dark-blue-search: #33335c;
}

@font-face {
  font-family: 'Sansita One';
  src: url('./assets/fonts/SansitaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Sansita One', sans-serif;
} 
.page-text {
  color: var(--white);
}
